<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
    <h1>Formulär!</h1>
    <p>Skriv namnet på person du vill lägga till och tryck "skicka"</p>
    <div>
        <form th:action="@{/new-member}"  method="post">
            <input type="text" th:value="${sourceText}" name="sourceText"/>
            <input type="submit" />
        </form>
        <h1>Medlemmar!</h1>
        <ul>
            <li th:id="${member.id}" th:each="member : ${members}">
                <span th:text="${member.name}"></span>
                <a th:href="@{/removeMember/{memberId}(memberId=${member.id})}">[Ta Bort!]</a>
            </li> 
        </ul>
        <a href="/">Hem!</a>

    </div>

</body>
</html>