<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Välkomen till "HelloUser" by Dennis!</h1>
     <a href="/members">Medlemmar</a>

     <div>
        <b>Username</b>
            <input id="user" type="text">
    
        <b>Password</b>
            <input id="password" type="password">
    
        <button id="loginBtn">Login</button>
        <label>
    </div>
</body>
</html>