<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Medlemmar!</h1>
    <ul>
        <li th:id="${member.id}" th:each="member : ${members}">
            <span th:text="${member.name}"></span>
            <a th:href="@{/removeMember/{memberId}(memberId=${member.id})}">[Ta Bort!]</a>
        </li>
    </ul>
    <a href="/">Hem!</a>
</body>
</html>